nav{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    height:90px;
    background-color: rgb(36, 91, 145);
    color: rgb(255, 255, 255);

}
.home-text{
    margin-left: 850px;
}

nav ul{
    font-size: large;
    justify-content: space-between;
    display: flex;
    gap:45px;
  margin-right:4px;
    list-style-type: none;
    margin-top: 20px;

}
nav img{
   margin-top: 4px;
   margin-left: 8px;
    height: 80px;
 border-radius: 50%;
 border: 2px solid black;
 border-color: aliceblue;
    width: 85px;
}
nav ul li:hover{
    color: black;
}
.img-name{
    color: azure;
  margin-left: 15px;

}