h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color:rgb(36, 91, 145);
    color: rgb(255, 255, 255);
}
.main-foot{
    background-color:rgb(36, 91, 145); 
    text-align: center;
    padding: 20px;
}
.foot{
    
    height: 40px;

}